In [1]:
#Python Basic

In [5]:
list_of_number = [1, 2, 3, 4, 5, 6, 7]
for i in list_of_number:
    print(i)
    if i % 2 == 0:
        print("Even")
    else:
        print("Odd")

print("ALL")
print("Length of list:",len(list_of_number))

1
Odd
2
Even
3
Odd
4
Even
5
Odd
6
Even
7
Odd
ALL
Length of list: 7

In [11]:
list_of_number[0:3]

[1, 2, 3]

In [10]:
list_of_number[3:]

[4, 5, 6, 7]

In [12]:
list_of_number[-2:]

[6, 7]

In [14]:
list_of_number.extend([8,9])
list_of_number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
import numpy as np
x = np.random.normal(25,5,10)
x

array([20.40813377, 22.39327662, 31.12755758, 18.47236978, 35.19425842,
       29.74774679, 29.12557677, 24.6457629 , 36.88107839, 26.88973458])

In [20]:
y = [10,11]
list_2 = [list_of_number, y]
list_2

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11]]

In [25]:
z = [3,2,1]
z.sort()
z

[1, 2, 3]

In [28]:
z.sort(reverse = True)
z

[3, 2, 1]

In [29]:
#Tuples
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

In [31]:
#Dictionary
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

In [34]:
print(captains["Voyager"])
print(captains.get("Enterprise"))
print(captains.get("NX-01"))

Janeway
Kirk
None

In [35]:
for ship in captains:
    print(ship + ": " + captains[ship])

Enterprise: Kirk
Enterprise D: Picard
Deep Space Nine: Sisko
Voyager: Janeway

In [38]:
#Function
def SquareIt(x):
    return x * x

print(SquareIt(2))

def DoSomething(f, x):
    return f(x)

print(DoSomething(SquareIt, 3))

#Lambda functions let you inline simple functions
print(DoSomething(lambda x: x * x * x, 3))

4
9
27

In [39]:
##LOOPING
#for loop
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [40]:
#for loop
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x)

0
2
3
4
5

In [41]:
#while loop
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9